# Node
node_modules/
npm-debug.log*
yarn-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.*

# Build
dist/
build/
coverage/

# OS
.DS_Store
Thumbs.db

# App specifics
keystore.json
uploads/*
!**/uploads/.gitkeep
!**/uploads/avatars/.gitkeep
